
.login-form {
    max-width: 400px;
    margin: 50px auto;
    padding: 120px;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #aff3aa;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .login-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .login-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-form button {
    width: 100%;
    padding: 10px;
    background-color: #5cb85c;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background-color: #4cae4c;
  }
  
  .error {
    color: red;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .success {
    color: green;
    text-align: center;
    margin-bottom: 10px;
  }
  


